@font-face {
  font-family: 'Futura Book';
  src:
  url('../fonts/futura/FuturaPT-Book.woff') format('woff'),
  url('../fonts/futura/FuturaPT-Book.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura Demi';
  src:
      url('../fonts/futura/FuturaPT-Demi.woff') format('woff'),
      url('../fonts/futura/FuturaPT-Demi.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}